@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #ffc840;
  color: #333;
}

/* Header styles */
header {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 24px;
  color: #fff;
}

/* Navigation styles */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #B80063;
  color: #fff;
}

/* Main content styles */
main {
  padding: 20px;
  background-color: #ffc840;
}

main h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

main p {
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
}

@layer components {
  .navLink {
    @apply hover:underline decoration-blue-400 text-center decoration-2 active:underline
    underline-offset-8 rounded-full p-4 cursor-pointer hover:font-bold capitalize hover:scale-110 transition-transform duration-200 ease-out;
  }
}
